.selected {
	background-image: linear-gradient(rgba(66,66,66, .7), rgba(66,66,66, .3));
}

.card-carousel {
	height: 100%;
	width: 100%;
	padding: 10px 0 0 30px;
	display: flex;
	justify-self: center;
	align-self: center;
	
	&:hover {
		cursor: pointer;
		background-image: linear-gradient(rgba(66,66,66, .7), rgba(66,66,66, .3));
	}
}

.img {
	background-position: center;
	background-size: cover;
	
	& > div {
		height: 70px;
		min-width: 58px;
	}
	
	&__text {
		padding-left: 15px;
		align-self: center;
		color: #fff;
		font-size: 1.3rem;
		font-family: sans-serif;
	}
}

@keyframes slidein {
  from {
    transform: translatex(-100%);
  }

  to {
    transform: translatex(0%);
  }
}

.img--1 {
	grid-row: 1 / 2;
	grid-column: 2 / -1;
}
.img--2 {
	grid-row: 2 / 3;
	grid-column: 2 / -1;
}
.img--3 {
	grid-row: 3 / 4;
	grid-column: 2 / -1;
}
.img--4 {
	grid-row: 4 / 5;
	grid-column: 2 / -1;
}
.img--5 {
	grid-row: 5 / 6;
	grid-column: 2 / -1;
}
.img--6 {
	grid-row: 6 / -1;
	grid-column: 2 / -1;
}