.h-favorites {
  height: 8.7rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding: 2rem 0;
  // border-bottom: 1px solid rgba($color: #fff, $alpha: .2);
}

.h-favorites-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-column-gap: 1rem;
  align-items: center;

  &__item {
    font-size: 1.3rem;
  }
}

.h-favorites-bloco {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-column-gap: .7rem;
  align-items: center;
  font-size: 1.3rem;

  &__title {

  }

  &__number {
    padding: .5rem 1.9rem;
    border-radius: 15px;
    background-color: rgba($color: #fff, $alpha: .15);
  }
}