@import '../../../index.scss';

.signup {
  height: 90%;
  max-height: 80rem;
  width: 48rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #202020;
  padding: 5rem 6rem 2rem 6rem;

  & > svg {
    font-size: 5rem;
    align-self: center;
  }
}

.signup-title {
  margin-top: 3rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 1rem;
}

