@import '../../../index.scss';
@import '../login.scss';

.signup {
  @include login;
}

.button-for-signin {
  color: rgb(163, 162, 162);
  background: transparent;
  border: none;
  margin-left: 1rem;

  &:hover {
    cursor: pointer;
    color: #fff;
  }
}

.signup-title {
  margin-top: 3rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 1rem;
}

.login-button {
  height: 5rem;
  width: 100%;
  border-radius: 4px;
  border: none;
  outline: none;
  background: rgb(25, 25, 25);
  color: rgb(86, 86, 86);
  margin: 3rem 0;
}

.button-actived {
  background: rgb(3, 123, 238);
  color: #fff;

  &:hover {
    background: rgb(2, 86, 166);
    cursor: pointer;
  }
}

