@import '../../../index.scss';

.signup {
  height: auto;
  max-height: 80rem;
  width: 48rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #202020;
  padding: 5rem 6rem 2rem 6rem;

  & > svg {
    font-size: 5rem;
    align-self: center;
  }

  & > p {
    text-align: center;
    font-size: 1.3rem;
  }

  & > span {
    text-align: center;
    margin: 3rem 0;
    color: rgb(86, 86, 86);
    font-size: 1.3rem;

    & > a {
      margin-left: 1rem;
    }
  }
}

.signup-title {
  margin-top: 3rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 1rem;
}

.login-button {
  height: 5rem;
  width: 100%;
  border-radius: 4px;
  border: none;
  outline: none;
  background: rgb(25, 25, 25);
  color: rgb(86, 86, 86);
  margin: 3rem 0;
}

.button-actived {
  background: rgb(3, 123, 238);
  color: #fff;

  &:hover {
    background: rgb(2, 86, 166);
    cursor: pointer;
  }
}

