@import '../../../index.scss';

.button-game {
  height: 5.3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: $button-green;
  font-weight: 500;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
    background-color: rgb(25, 128, 25);
  }
}

.game-wallet {
  width: 77%;
  border-radius: 5px 0 0 5px;
  color: #fff;
}

.game-favorites {
  width: 22%;
  border-radius: 0 5px 5px 0;
  display: grid;
}