@import '../../index.scss';

.card {
  height: 44rem;
  width: 23rem;
  display: grid;
  grid-template-columns: max-content max-content 1fr;
  grid-column-gap: 1.5rem;
  grid-template-rows: 70% repeat(2, max-content) 1fr;

  &:hover {
    cursor: pointer;
  }

  &__img {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    position: relative;

    &::before {
      content: '';
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: transparent;
      position: absolute;
    }

    &:hover:before {
      background-color: rgba($color: #fff, $alpha: .12);;
    }
  }

  &__title {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    margin: 2rem 0 0;
    font-weight: 300;
    font-size: 1.7rem;
  }

  &__subtitle {
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    margin: 0 0 2rem 0;
    font-size: 1.5rem;
    color: $buttom-color;
    opacity: .5;
    font-weight: 300;
  }

  &__percent {
    width: 100%;
    padding: .5rem .99rem;
    background-color: $buttom-background;
    border-radius: 5px;
    align-self: center;
  }

  &__old-value {
    text-decoration: line-through;
    opacity: .5;
  }

  &__old-value,
  &__value {
    font-size: 1.5rem;
    font-weight: 400;
    align-self: center;
  }

  &__value {

  }
}