.modal {
  height: 70vh;
  width: 80vw;
  max-width: 130rem;
  background-color: #202020;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease-out;
  z-index: 100;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba($color: #000000, $alpha: .5);
  box-shadow: 1px 1px 1px black;
}