@import '../../index.scss';

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba($color: #000000, $alpha: .5);
  box-shadow: 1px 1px 1px black;
}

.modal {
  height: 70vh;
  width: 80vw;
  min-width: 1150px;
  max-width: 130rem;
  background-color: #2b2a2a;
  position: absolute;
  transition: all 0.4s ease-out;
  z-index: 100;

  display: grid;
  grid-template-rows: 4.5rem auto;
  grid-template-columns: 32% 45% 23%;
  padding: 2.5rem 2rem;
}

.metodo-pagamento {
  &__titulo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    color: #ccc;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 400;
    border-bottom: 4px solid $buttom-background-hover;
  }

  &__conteudo {
    grid-column: 1 / 3;
    grid-row: 2 / -1;
    padding-top: 2rem;
    margin-right: 2rem;

    & > h3 {
      font-size: 1.5rem;
      text-transform: uppercase;
      color: rgba(253, 253, 253, 0.7);
      font-weight: 300;
    }
  }
}

.finaliza-compra {
  &__titulo {
    color: rgba(211, 210, 210, 0.5);
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 400;
    border-bottom: 1px solid #fff;
    margin-right: 2rem;
  }
}

.resumo {
  &__titulo {
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 400;
  }

  &__conteudo {
    grid-column: 3 / -1;
    grid-row: 2 / -1;
  }
}
