@import '../../index.scss';

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba($color: #000000, $alpha: .5);
  box-shadow: 1px 1px 1px black;
}

.modal {
  height: 1020px;
  width: 100%;
  max-width: 1196px;
  background-color: #2b2a2a;
  position: absolute;
  left: 50%;
  transition: all 0.4s ease-out;
  z-index: 100;

  display: grid;
  grid-template-columns: minmax(460px, 1fr) 320px;
  column-gap: 1rem;
  padding: 1.5rem;

  @media (max-width: 831px) {
    height: 99vh;
    top: -6rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}

.modal-conteudo {
  height: 100%;
  grid-column: 1 / 2;

  @media (max-width: 831px) {
    grid-column: 1 / -1;
  }
}

.modal-resumo {
  height: 100%;
  grid-column: 2 / -1;

  @media (max-width: 831px) {
    grid-column: 1 / -1;
  }
}

.resume-title {
  height: 7.7rem;
  display: flex;
  align-items: center;

  & > h3 {
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 400;
    padding-left: 8px;
  }
}

.resume-content {
  height: calc(100% - 7.7rem);


  &__image {
    height: 37rem;
    width: 30rem;
    margin: 0 8px;
    background-position: center;
    background-size: cover;
  }

  &__line {
    width: 100%;
    height: .1rem;
    background-color: $buttom-color;
    margin: 2rem 0;
    opacity: .6;
  }

  &__values {
    margin: 0 8px;
    color: $buttom-color;

    &--title {
      font-size: 1.6rem;
      font-weight: 500;
      margin-top: 1.5rem;
      color: inherit;
    }

    &--subtitle {
      font-size: 1.2rem;
      font-weight: 400;
      margin-bottom: 1.5rem;
      color: inherit;
    }
  }

  &__items {
    list-style: none;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    font-size: 1.38rem;
  }
}

.resume-descount {
  color: red;
}
.resume-oldvalue {
  text-decoration: line-through;
}
.resume-totalvalue {
  font-weight: 500;
}





















// .metodo-pagamento {
//   &__titulo {
//     grid-column: 1 / 2;
//     grid-row: 1 / 2;

//     color: #ccc;
//     text-transform: uppercase;
//     font-size: 1.3rem;
//     font-weight: 400;
//     border-bottom: 4px solid $buttom-background-hover;
//   }

//   &__conteudo {
//     grid-column: 1 / 3;
//     grid-row: 2 / -1;
//     padding-top: 2rem;
//     margin-right: 2rem;

//     & > h3 {
//       font-size: 1.5rem;
//       text-transform: uppercase;
//       color: rgba(253, 253, 253, 0.7);
//       font-weight: 300;
//     }
//   }
// }

// .finaliza-compra {
//   &__titulo {
//     color: rgba(211, 210, 210, 0.5);
//     text-transform: uppercase;
//     font-size: 1.3rem;
//     font-weight: 400;
//     border-bottom: 1px solid #fff;
//     margin-right: 2rem;
//   }
// }

// .resumo {
//   &__titulo {
//     text-transform: uppercase;
//     font-size: 1.3rem;
//     font-weight: 400;
//   }

//   &__conteudo {
//     grid-column: 3 / -1;
//     grid-row: 2 / -1;

//     &--image {
//       height: 25rem;
//       width: 100%;
//       background-position: center;
//       background-size: cover;
//     }

//     &--texto {
//       height: 30rem;
//       width: 100%;
//     }
//   }
// }
