.signup-form__block {
  width: 100%;
  position: relative;
  margin-bottom: 1rem;

  &--checkbox {
    margin-top: 2rem;
    display: flex;
    align-items: flex-start;
  }
}

.signup-input {
  &__text {
    height: 5rem;
    width: 100%;
    background: #2b2b2b;
    border: none;
    outline: none;
    border-radius: 4px;
    padding-left: 1.5rem;
    color: #fff;

    &::placeholder {
      color: #757575;
    }

    &:focus {
      background-color: #484848;
    }
  }
  
  &__checkbox {
    display: table;
    height: 2.3rem;
    width: 2.3rem;
    background: rgb(69, 69, 69);
    border: none;
    appearance: none;
    margin-right: 2rem;

    &:checked {
      background: rgb(69, 69, 69);
    }

    &--text {
      font-size: 1.3rem;
      color: #757575;
      font-weight: 400;
    }
  }
}

.form-svg {
  font-size: 2rem;
  position: absolute;
  top: 1.5rem;
  right: 2rem;  
}

.form-span {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 400;
  position: absolute;
  top: 1.5rem;
  right: 5.5rem;
  opacity: 0;
}
.form-svg:hover {
  cursor: pointer;

  & ~ .form-span {
    opacity: 1;
  }
}