.show-cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3rem 1fr;
  grid-row-gap: 1rem;
  margin-bottom: 5rem;
}

.show-cards__items {
  display: flex;
  justify-content: space-between;
}