@import '../../index.scss';

.game-box-text {
  width: 100%;
  height: auto;
  display: block;
}

.game-box-text-columns {
  display: grid;
  grid-template-columns: 25% 1fr;
  grid-column-gap: 1rem;
  margin-bottom: 5rem;
}

.game-box-text-description {
  margin-top: 2rem;

  &__logo {
    height: 15rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 5rem;
    border-radius: 3px;
    background-color: $color-secondary;

    & > img {
      height: 70%;
    }
  }
}

.game-box-text-description-content {
  display: grid;
  grid-template-columns: 1fr 28%;
  grid-template-rows: 15% 1fr;
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
  border-bottom: 1px solid $color-secondary;

  &__text {
    grid-row: 1 / -1;
    grid-column: 1 / 2;
    
    & > p {
      font-size: 1.5rem;
      font-weight: 400;
    }
  }

  &__value {
    grid-row: 1 / 2;
    grid-column: 2 / -1;
    display: flex;
    justify-content: flex-end;

    & > span {
      font-size: 1.4rem;
      font-weight: 400;
    }
  }

  &__button {
    grid-row: 2 / -1;
    grid-column: 2 / 3;

    & > button {
      height: 5rem;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      border: none;
      background-color: $button-green;
      color: #fff;
      padding-right: 15%;
      position: relative;
      font-weight: 500;
      text-transform: uppercase;

      &::after {
        content: '+';
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-left: 1px solid black;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.game-box-text-about {
  margin-bottom: 15rem;
  transition: all .3s;
  &__title {
    grid-column: 1 / 2;
    font-size: 1.5rem;
    
    & > h3 {
      font-weight: 400;
      color: $buttom-color;
    }
  }
}

.game-box-text-about-content {
  color: $buttom-color;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 4rem;
  font-size: 1.3rem;

  &__desc {
    grid-column: 1 / -1;
    overflow: hidden;
    display: block;
    transition: all .5s;
    position: relative;
    
    & > div h3 {
      margin: 3rem 0 1.5rem 0;
      position: inherit;
      z-index: 90;
    }
  }

  &__button {
    grid-column: 1 / -1;
    position: absolute;
    // bottom: 0;
    width: 100%;
    transition: top .5s;

    &--shadow {
      height: 17rem;
      width: 100%;
      background: linear-gradient(rgba(28, 28, 28, 0), rgb(28, 28, 28));
      background-image: linear-gradient(rgba(28, 28, 28, 0), rgb(28, 28, 28));
      background-position-x: initial;
      background-position-y: initial;
      background-clip: initial;
      background-color: initial;
      background-size: initial;
      background-attachment: initial;
      background-origin: initial;
      position: absolute;
      top: -17rem;
    }

    & > button {
      width: 100%;
      height: 5rem;
      background-color: $color-secondary;
      border: none;
      color: #fff;

      &:hover {
        cursor: pointer;
        background-color: #353535;
      }
    }
  }
}

.visible {
  display: block;
}
.invisible {
  display: none;
}